@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

/* Temel stil tanımları */
:root {
  --background: #030712;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
}

/* Next.js container'ını düzeltmek için */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* globals.css */
/* @layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
} */